.content {
    margin: 20px;

    .comment-input {
        width: 100%;
    }

    .send-button {
        float: right;
    }

    .spam-commentator {
        width: 50%;
        display: flex;
        flex-direction: column;

        .slider-text {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
        }

        .slider {
            width: 100%;
        }
    }
}
